In [1]:
import pandas as pd
from sklearn.neural_network import MLPRegressor
from sklearn.model_selection import train_test_split

In [2]:
dataset = pd.read_excel('Elective.xlsx')
dataset.head()

,Student,Gender,CHI,EN,MA,HM,PHY,CHEM,BIO,LSO,...,EL,CH.1,CL,EC,GEO,HI,ICT.1,PHY.1,PE DSE,VA.1
0,HK0001,M,49.00,55.0,58.0,51.00,52.0,39.0,46.00,42.0,...,NaN,NaN,NaN,NaN,39.12,NaN,NaN,47.0,NaN,NaN
1,HK0007,F,64.00,88.0,83.0,84.00,80.0,85.0,90.00,66.0,...,NaN,NaN,NaN,NaN,73.06,75.57,NaN,77.0,NaN,NaN
2,HK0011,M,50.73,85.1,69.1,61.77,74.0,68.0,68.08,68.0,...,52.18,NaN,NaN,89.30,NaN,NaN,NaN,82.3,NaN,NaN
3,HK0014,F,58.90,94.3,57.5,76.62,84.0,82.0,53.72,76.0,...,66.41,NaN,NaN,63.34,NaN,58.53,NaN,NaN,NaN,NaN
4,HK0015,M,46.00,52.0,39.0,38.00,29.0,27.0,29.00,29.0,...,NaN,NaN,NaN,47.26,NaN,NaN,NaN,NaN,59.14,NaN

In [3]:
dataset.shape

(364, 32)

In [4]:
for i in ['CH','PE', 'MA1', 'MA2', 'BIO.1', 'BAFS (ACC)', 'BAFS (BM)', 'CHEM.1', 'EL', 'CH.1', 'CL', 'EC', 'GEO', 'HI', 'ICT.1', 'PHY.1', 'PE DSE', 'VA.1']:
    dataset[i] = dataset[i].fillna(dataset[i].mean())

In [5]:
x = dataset.drop(['Student', 'Gender', 'MA1', 'MA2', 'BIO.1', 'BAFS (ACC)', 'BAFS (BM)', 'CHEM.1', 'EL', 'CH.1', 'CL', 'EC', 'GEO', 'HI', 'ICT.1', 'PHY.1', 'PE DSE', 'VA.1'], axis=1)
y = dataset['EC']

In [6]:
print(x.head(2))
print(y.head(2))

    CHI    EN    MA    HM   PHY  CHEM   BIO   LSO    BS    CH   ICT    VA  \
0  49.0  55.0  58.0  51.0  52.0  39.0  46.0  42.0  42.0  48.0  70.0  73.0
1  64.0  88.0  83.0  84.0  80.0  85.0  90.0  66.0  88.0  75.0  90.0  91.0

     PE      Total
0  74.0  53.283333
1  86.0  81.133333
0    65.064946
1    65.064946
Name: EC, dtype: float64

In [7]:
x_train, x_test, y_train, y_test = train_test_split(x, y,test_size = 0.3)
print(x_train.shape)
print(y_test.shape)

(254, 14)
(110,)

In [8]:
model = MLPRegressor(hidden_layer_sizes=(100, 100,), activation = 'identity', max_iter= 500)

In [9]:
model.fit(x_train, y_train)

MLPRegressor(activation='identity', hidden_layer_sizes=(100, 100), max_iter=500)

In [10]:
predicted = model.predict(x_test)
predicted

array([56.73013284, 57.20710798, 60.35696845, 61.34796887, 55.96707596,
       59.57268734, 57.33336707, 63.64651326, 67.37917205, 64.57360307,
       72.3439382 , 70.22943122, 64.09890876, 59.94544204, 48.81876569,
       61.21395783, 61.6842163 , 57.03263755, 68.61001763, 60.03225279,
       69.97445188, 64.13951529, 66.343925  , 67.18702761, 71.08582971,
       69.32937609, 67.0254242 , 72.82849782, 63.6979847 , 61.43843018,
       60.47508416, 68.25886557, 61.00134591, 55.26034967, 63.0339915 ,
       68.09366801, 60.43493683, 63.02873119, 79.53046622, 59.44564224,
       64.08030959, 62.75464419, 64.33630814, 58.0613134 , 64.47683667,
       75.2327213 , 51.37215043, 59.16212929, 70.18048036, 56.50679879,
       49.61566438, 61.05099332, 61.32889757, 62.84843586, 62.64516639,
       67.81465049, 74.5715534 , 70.19353446, 66.68533629, 63.46218249,
       66.5064365 , 75.56687215, 68.48677946, 75.91228144, 49.34392385,
       70.47126578, 71.45179677, 60.61663382, 62.75508693, 58.2334308 ,
       59.39183325, 64.40500987, 54.54966581, 66.33178388, 67.94254611,
       64.63281832, 61.86094239, 69.33723607, 64.12148789, 69.59412668,
       71.9309541 , 80.70123589, 72.39348446, 60.41863842, 56.43623008,
       67.67784068, 64.11061251, 71.56178714, 61.35510547, 64.55271887,
       67.52861206, 73.12447686, 64.36042732, 55.72802571, 77.7558734 ,
       78.79626737, 58.17420643, 70.93124297, 71.62894133, 56.3937129 ,
       67.56743548, 62.91517333, 61.68538633, 54.36428552, 71.26407504,
       67.33869769, 61.13084396, 66.1135218 , 62.49461107, 67.33630992])

In [11]:
y_test

195    63.490000
133    32.470000
107    41.200000
359    62.970000
60     46.650000
         ...
238    65.064946
332    65.064946
155    65.064946
56     65.064946
89     65.020000
Name: EC, Length: 110, dtype: float64